<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        #myDIV {
        width: 100%;
        padding: 50px 0;
        text-align: center;
        background-color: grey;
        margin-top: 20px;
        display: none;
        }
        </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Welcome {{ user.first_name }} {{ user.last_name }}</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="/profile_page">Profile</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Settings
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Contact Us</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/log_out">Log Out</a></li>
                </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>
        <div class="col">
            <div class="row px-1 ps-5 pe-4 d-flex">
                <div class="col-2 mt-4">
                    <div class="row me-2">
                        <form action="/add_channel" method="POST" class="py-2 d-flex">
                            <input type="text" name="name" placeholder="Add Channel" class="border border-2 rounded" style="width: 100%;">
                            <input type="submit" value="+" class="btn btn-outline-primary btn-sm ms-2 rounded-circle pt-0 px-2 fw-bold">
                        </form>
                        {% for error in get_flashed_messages(category_filter=["name"]) %}
                        <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                        <div class="d-flex flex-column vstack pe-2">
                            {% for channel in all_channels %}
                            {% if channel.id == 1 %}
                            <a href="/go_to_channel/{{ channel.id }}" class="text-decoration-none text-center link-primary py-1">{{ channel.name }}</a>
                            {% endif %}
                            {% if channel.id != 1 %}
                            <a href="/go_to_channel/{{ channel.id }}" class="text-decoration-none text-center link-primary border-top border-1 py-1">{{ channel.name }}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-8 bg-secondary border border-1 bg-opacity-50 bg-gradient d-flex justify-content-center flex-column">
                    <div style="width: 100%;">
                        <div class="row border border-1 bg-light p-3">
                            <form class="form-floating" action="/uploads/{{ this_channel.id }}" enctype="multipart/form-data" method="POST">
                                <input type="text" name="name" placeholder="Name of Post" class="my-3 me-3" style="width: 25%;">
                                <input accept="image/*" type='file' id="myFile" name="file" class="my-3">
                                <textarea name = "description" class="form-control" placeholder="Write something..." id="floatingTextarea" class="m-2 lh-sm word-break: break-word" style="height: 40%;"></textarea>
                                <div class="d-flex justify-content-end my-3">
                                    <input type="submit" value="Submit" class="btn btn-outline-primary btn-sm m-2" style="width: 20%;">
                                </div>
                            </form>
                            {% for error in get_flashed_messages() %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="card" style="width: inherit;">
                            {% for post in this_channel.posts %}
                            <img src="{{ url_for('static', filename='upload_folder/images/') }}{{ post.image.link }}" alt="Image">
                            <div class="row p-4">
                                <div class="d-flex align-items-center">
                                    <h3 class="me-4">{{ post.name }}</h3>
                                    <label class="me-auto">{{ post.created_at.strftime('%Y-%m-%d') }} at {{ post.created_at.strftime('%H:%M %p') }}</label>
                                    <label class="me-4">{{ post.like_count }} likes</label>
                                    <a href="/like_post/{{ post.id }}" class="me-1 btn btn-outline-primary btn-sm">Like</a>
                                    {% for reply in post.replies %}
                                        <p>{{ reply }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row px-2 pt-3 pb-2 border border-1 mx-3">
                                <p class="text-start">{{ post.description }}</p>
                            </div>
                            {% if user.id == post.user_id%}
                            <div class="d-flex justify-content-end p-3 pe-4">
                                <a href="/delete/{{ post.id }}" class="btn btn-outline-primary btn-sm">Delete</a>
                                <button onclick="myFunction()" class="btn btn-outline-primary btn-sm">Comment</button>
                            </div>
                            <div id="myDIV">
                                <form action=>
                                    <input type="text" name="reply" >
                                    <input type="submit" name="reply" value="comment" >
                                </form>
                            </div>
                            {% endif%}
                            <br>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-2 mt-4">
                    <div class="row d-flex flex-column mx-2 px-1">
                        <label class="py-2">Users: </label>
                        {% if this_channel.id == 1 %}
                            {% for user in all_users %}
                                <label class="text-center link-dark border-top border-1 py-2">{{ user.first_name }} {{ user.last_name }}</label>
                            {% endfor %}
                        {% endif%}
                        {% for user in this_channel.users %}
                            <label class="text-center link-dark border-top border-1 py-2">{{ user.first_name }} {{ user.last_name }}</label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>












    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script>
        function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
        }
        </script>
</body>
</html>