<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex bd-highlight mb-3">
        <a class="nav-link active" aria-current="page" href="#">Server Title</a>
        <a class="nav-link ms-auto bd-highlight" href="#" >Contact Us</a>
    </nav>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1>Login: </h1>
                <br>
                <form action="/login_user" method="POST">
                    {% for message in get_flashed_messages(category_filter=["login"]) %}
                    <div class="alert alert-danger" role="alert">
                        <p>{{message}}</p>
                    </div>
                    {% endfor %}
                    <div class="form-floating mb-3">
                        <input type="text" name="email" class="form-control" placeholder="Email">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                        <label for="password">Password</label>
                    </div>
                    <br>
                    <input type="submit" value="Login" class="btn btn-primary">
                </form>
            </div>
            <div class="col">
                <h1>Register: </h1>
                <br>
                <form action="/register_user" method="POST">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" name="first_name" class="form-control" placeholder="First Name">
                                <label for="first_name" class="form-label">First Name</label>
                            </div>
                            {% for error in get_flashed_messages(category_filter=["first_name"]) %}
                                <p class="alert alert-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                                <label for="last_name" class="form-label">Last Name</label>
                            </div>
                            {% for error in get_flashed_messages(category_filter=["last_name"]) %}
                                <p class="alert alert-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="email" class="form-control" placeholder="Email">
                        <label for="email" class="form-label">Email</label>
                    </div>
                    {% for error in get_flashed_messages(category_filter=["email"]) %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    <div class="form-floating mb-3">
                        <input type="date" name="birthday" class="form-control" placeholder="Birthday">
                        <label for="birthday" class="form-label">Birthday</label>
                    </div>
                    {% for error in get_flashed_messages(category_filter=["birthday"]) %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                        <label for="password" class="form-label">Password</label>
                    </div>
                    {% for error in get_flashed_messages(category_filter=["password"]) %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    <div class="form-floating mb-3">
                        <input type="password" name="password_confirmation" class="form-control" placeholder="Password Confirmation">
                        <label for="password_confirmation" class="form-label">Password Confirmation</label>
                    </div>
                    {% for error in get_flashed_messages(category_filter=["password_confirmation"]) %}
                        <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                    <br>
                    <input type="submit" value="Register" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>